body {
    background-image: url('https://raw.githubusercontent.com/angovr/relatorioteste/cc91f15b7932adc0c73fb2cd7b4651b724e108ad/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    background-color: #333;
    border: 3px solid white;  /* Borda branca ao redor do título */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);  /* Sombra branca suave */
}

form {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #4cae4c;
}
